
poses/__pycache__/colmap_read_model.cpython-37.pyc
poses/__pycache__/__init__.cpython-37.pyc
poses/__pycache__/*.pyc
__pycache__/*
__pycache__/*
poses/__pycache__/*.pyc




.vscode/
.idea/

tmp/*

script/__pycache__/*

output/*
tmp/*

forthparty/*
renderer/__pycache__/*
renderer/__pycache__/__init__.cpython-37.pyc
thirdparty/mmcv/mmcv.egg-info/*
thirdparty/mmcv/build/*
thirdparty/mmcv/docs/*
thirdparty/mmcv/tests/data/*
thirdparty/mmcv/*
thirdparty/sibr_core/*
thirdparty/*/__pycache__/*
thirdparty/gaussian_splatting/submodules/gaussian_rasterization_ch9/diff_gaussian_rasterization_ch9.egg-info/PKG-INFO
script/__pycache__/pre_immersive_distorted.cpython-37.pyc
script/__pycache__/pre_n3d.cpython-37.pyc
thirdparty/gaussian_splatting/submodules/simple-knn/*egg-info

generatecode.py
getconfig.py
test.sh
*.sh
log/*
